@import '../../styles/myColor';
@import '../../styles/myFont';

form {
	// margin-top: 2rem;
	// display: inline-block;
	// margin: auto;
	// padding: auto;
	// display: flex;
	// flex-direction: column;
	// gap: 10px;
	// align-items: center;
	// text-align: center;

	input {
		// margin-left: auto;
		// margin-right: auto;
		// margin-top: 1rem;
		margin: 0.5rem auto;
		display: block;
		width: 25rem;
		color: $myFontColor3;
	}

	.inputMessage {
		display: block;
		margin: 0.5rem auto;
		width: 25rem;
		text-align: start;
		height: 5rem;
		color: $myFontColor3;
	}
}
button {
	cursor: pointer;
	border: 0;
	border-radius: 2px;
	padding: 0.2rem;
	margin: 0 0 2rem auto;
	background-color: $myGreen1;
	color: $myFontColor1;
}
