$myGreen1: #16a085;
$myGreen2: #11846d;
$myBlue1: #3498db;
$myBlue2: #2980b9;
$myOrrange1: #e67e22;
$myOrrange2: #d35400;
$myFontColor3: #1a2a3a;
$myFontColor2: #7a8a9a;
$myFontColor1: #ecf0f1;
$myBackgroundColor1: #34495e;
$myBackgroundColor2: #aaaaaa;
$myBackgroundColor3: #cccccc;
