@import "myColor";
@import "myFont";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $myFont;
}

a {
  text-decoration: none;
  color: $myFontColor1;
}

ul {
  list-style-type: none;
}

button {
  font-size: 1rem;
  margin: 0rem 0.5rem;
  color: $myFontColor1;
}
