.picture {
  width: 300px;
  margin: auto;
  margin-bottom: 2rem;
  border: 1px solid black;
  padding: 1rem;
  .imageContainer {
    height: 24rem;
    img {
      max-width: 100%;
      display: block;
      margin: auto;
      height: 100%;
    }
  }
  .photographerName {
    text-align: center;
    padding-top: 1rem;
  }
}
