@import "../../styles/myColor";
@import "../../styles/myFont";
.sidebarContainer {
  display: flex;
}

.sidebar {
  background-color: $myGreen2;
  color: $myFontColor1;
  height: 100vh;
  width: 250px;
  transition: all 0.3s;
}

.topSection {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo {
  text-align: left;
  font-family: $myFont;
}

.bars {
  display: flex;
  margin-top: 10px;
  margin-left: 50px;
  font-size: 25px;
}

.link {
  display: flex;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover {
  background-color: $myBackgroundColor3;
  color: $myFontColor3;
  transition: all 0.5s;
}

.active {
  background-color: $myGreen1;
}

.icon,
.link {
  font-size: 20px;
}

main {
  width: 100%;
}
