@import "../../styles/myColor";

.footer {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: $myBackgroundColor1;
  color: $myFontColor1;
}
