@import '../../../styles/myColor';
@import '../../../styles/myFont';

.homepage {
	display: flex;
	height: 100vh;
	color: $myFontColor3;

	.left {
		padding-top: 5rem;
		padding-left: 3rem;
		flex: 3 1 600px;
		background-color: $myFontColor1;
		.greetings {
			font-size: 2rem;
			font-weight: bold;
		}
		.introduce {
			font-size: 4rem;
			font-weight: bolder;
		}
		.text {
			font-size: 1.5rem;
		}
		.text::after {
			content: '|';
			animation: blink 1s step-end infinite;
		}
		@keyframes blink {
			from,
			to {
				opacity: 1;
			}
			50% {
				opacity: 0;
			}
		}
		button {
			cursor: pointer;
			margin: 1rem;
			padding: 1rem;
			font-size: 1rem;
			border: 0px;
			border-radius: 2px;
			background-color: $myGreen1;
			color: $myFontColor1;
		}
		p {
			margin-bottom: 0.5rem;
		}
	}
	.right {
		flex: 2 1 500px;
		display: flex;
		align-items: center;
		justify-content: center;
		// flex: 1 1 600px;
		img {
			max-width: 100%;
			height: 100vh;
			object-fit: cover;
			// height: auto;
			// width: 50vh;
			// display: flex;
		}
	}
}

@media (max-width: 500px) {
	.left,
	.right {
		flex: 1 0 100%;
	}
}
