@import "../../styles/myColor";
@import "../../styles/myFont";

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
  input {
    font-size: 1rem;
    margin: 0rem 0.5rem;
    width: 25%;
    padding: 0.1rem;
  }
  button {
    border: 0;
    border-radius: 2px;
    padding: 0.2rem;
    background-color: $myGreen1;
    color: $myFontColor1;
  }
}
