@import "../../../styles/myColor";
@import "../../../styles/myFont";

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.loading {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.loadMore {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  button {
    border-radius: 2px;
    border: 0;
    padding: 0.2rem;
    background-color: $myGreen1;
    color: $myFontColor1;
  }
}
