@import "../../styles/myColor";

nav {
  background-color: $myGreen2;
  ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
    li {
      padding: 1rem;
      a {
        font-size: 1rem;
        color: $myFontColor1;
      }
    }
  }
}
